* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.background-image {
    background-color: rgba(255, 255, 255, 0.1);
}

body {
    
    padding-top: 250px;
    text-align: center;
    background-image: url(./bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    
    font-family: 'Inter', sans-serif;
    height: 100vh;

}

h3 {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}


h3 span{
color:#a8d30e;
}

h1 {
color: #FFC700;
font-weight: 400;
font-size: 64px;
line-height: 80px;

font-family: 'Emilys Candy', serif;
}

p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color:white;
    opacity: 0.7;
}

a {
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color:white;
    opacity: .6;
}

a:hover,

.btn-primary {
  text-decoration: none;
  color: black;
  background-color: #FFC700;
  opacity: 1;  
}